---
import Layout from '../../layouts/Layout.astro';
import { getBlogPostsSorted } from '../../content.config';
import type { GetStaticPathsOptions } from 'astro';
import Post from '../../components/Post.astro';
import type { CollectionEntry } from 'astro:content';
import type { TranslationsLang } from '../../lang/translations';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = await getBlogPostsSorted();
  const val = paginate<CollectionEntry<'blog'>, {}, { lang: TranslationsLang }>(
    posts,
    {
      pageSize: 5,
      params: {
        lang: 'en',
      },
    },
  );

  return val;
}

const { page } = Astro.props;
const { lang } = Astro.params;
---

<Layout
  title={`Blog${page.currentPage > 1 ? ` - Page ${page.currentPage}` : ''}`}
  lang={lang}
>
  <ol class="container mx-auto">
    {
      page.data.map((post) => (
        <li class="mb-9">
          <Post limitToExcerpt={true} post={post} />
        </li>
      ))
    }
  </ol>
</Layout>
