---
import Layout from '../../layouts/Layout.astro';
import { getBlogPostsSorted } from '../../content.config';
import Post from '../../components/Post.astro';

export async function getStaticPaths() {
  const posts = await getBlogPostsSorted();
  return posts.map((post) => ({
    params: { id: post.data.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<Layout title={post.data.title}>
  <div class="container mx-auto">
    <Post post={post} />
  </div>
</Layout>
