---
import type { TranslationsLang } from '../lang/translations';
import Layout from '../layouts/Layout.astro';

type Props = {
  lang?: TranslationsLang;
};

const { lang = 'pt-br' } = Astro.props;
---

<Layout lang={lang}>
  <div class="container mx-auto"></div>
</Layout>
