---
import Layout from '../../layouts/Layout.astro';

// FIXIT: Add experiments page
// FIXIT: Add correct lang
---

<Layout title="Experiments" lang="pt-br">
  <div class="container mx-auto"></div>
</Layout>
