---
import '../styles/global.css';

type Props = {
  title?: string;
};

const { title } = Astro.props;
const name = 'Carlos A. Gomes';
const fullTitle = title ? `${title} | ${name}` : name;
// FIXIT: Fix header in light mode
// FIXIT: Add Footer styles
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{fullTitle}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      crossorigin="anonymous"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap"
    />
  </head>
  <body class="relative pt-16">
    <header
      class="fixed top-0 left-0 right-0 z-10 h-16 bg-neutral-950/50 backdrop-blur-xl"
    >
      <div class="container mx-auto flex h-full items-center justify-between">
        <a href="/"> Carlos A. Gomes </a>
        <nav>
          <ul class="flex gap-4">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/blog/">Blog</a>
            </li>
            <li>
              <a href="/experiments/">Experiments</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <slot />

    <footer>
      <div class="container mx-auto mt-5">
        <aside></aside>
        <aside>Powered by Astro</aside>
      </div>
    </footer>

    <div itemscope itemtype="http://schema.org/Person">
      <meta itemprop="gender" content="Male" />
      <meta itemprop="jobTitle" content="Frontend Engineer" />
      <meta itemprop="email" content="carlos.algms@gmail.com" />
      <meta itemprop="url" content="http://carlos-algms.github.io" />
      <meta itemprop="image" content="https://github.com/carlos-algms.png" />
      <span itemprop="name">
        <link
          itemprop="sameAs"
          href="https://www.linkedin.com/in/carlosalgms/"
        />
        <link itemprop="sameAs" href="https://twitter.com/carlos_algms" />
      </span>
    </div>
  </body>
</html>
